{% extends "_reportcard/base.html"%}

{% block extrastyle %}


{% endblock %}


{% block main %}
<form action="." method= post>
<hr>
{{time}}
<p class="p">{{rform.date_created.label_tag}}<span> {{rform.date_created}}</span></p>
<table>
<tr>
	<td class="padding">{{rform.student_name.label_tag}}</td>
	<td>{{rform.student_name}}</td>
</tr>
<tr>
	<td class="padding">{{rform.form.label_tag}} </td>
 	<td>{{rform.form}} </td>
</tr>
<tr>
	<td class="padding">{{rform.course.label_tag}} </td>
 	<td>{{rform.course}} </td>
</tr>
<tr>
	<td class="padding">{{rform.teacher.label_tag}}</td> 
	<td>{{rform.teacher}} </td>
</tr>
</table>
<hr>
<tr><th></th><td><span>Subject<span></td><td><span>Examination Marks<span></td><td><span style ="margin-left:85px">Class Test Marks</span></td><td><span style ="margin-left:70px">Percentage</span></td><td><span style ="margin-left:85px">Grade</td></tr><br>

{% for form in rcform %}

{{form.subject}}{{form.exam_mark}}{{form.test_mark}}{{form.percentage}}{{form.grade}} 
<br>
{% endfor %}
<hr>
<p> {{rform.remark.label_tag}} <span> {{rform.remark}}

<div>
<p>{{remark.remark.label_tag}}s<span id="span">{{remark.remark}}</span></p>
</div>
<hr>
{% comment %}
{%for form in formset %}
<p> {{form.subject}} {{form.exam_mark}} {{form.text_mark}} </p>
{%endfor%}
{% endcomment %}

<input type = "submit" name = "add"  value = "add report">

</form>
{% endblock %}
