<html>
<head>

<style type="text/css">
body{
background-color:#C2C2A3;
margin-left:3cm;
margin-right:10px;

}
span{
margin-left:45px;
}
.p{
margin-left:15cm;
margin-right:;

}
</style>

</head>
<body>
<form action=//  method= post>
{% for field in  rform %}
<div class ="fielfWrapper">
	{{ field.errors}}
	{{field.label_tag}}: {{field}} : {{ field.value }} : {{ field.html_name }} 

</div>
{% endfor %}
<hr>
<p class="p">{{rform.date.label_tag}}<span> {{rform.date}}</span></p>
<hr>
<tr><th></th><td><span>Subject<span></td><td><span>Examination Marks<span></td><td><spanstyle ="margin-left:85px">Class Test Marks</span></td><td><span style ="margin-left:70px">Percentage</span></td><td><span style ="margin-left:85px">Grade</td></tr><br>
{% for form in rcform %}

{{form.as_table}}


{% endfor %}
<div>
<p>{{remark.remark.label_tag}}s</p><p>{{remark.remark}}</p>
</div>
<input type = "submit" name = "add"  value = "add report">

</form>
</body>
<html>
