{% extends "_reportcard/base.html"%}

{% block main %}


<hr>
<div class ="report">
{% for i in reports %}

<p>Student Name : {{i.student_name}} </p>
<table width="200" border="1">
<hr>
<p> Course : {{i.course }} </p>
{% ifequal 1 i.form %}
 <p> SHS Level : One  &nbsp;</p>
{% endifequal%}
{% ifequal 2 i.form %}
 <p> SHS Level : Two  &nbsp;</p>
{% endifequal%}
{% ifequal 3 i.form %}
 <p> SHS Level : Three &nbsp;</p>
{% endifequal%}
{{endif}}

<p> Report Created By  {{i.teacher}} <p>

</table>
{% endfor %}
<hr>
<br>
<br>
{% for i in subjects %}
<div>
	<table class = "reptable" border="1">
  		<tr>
    		<td> {{i.subject}} &nbsp;</td>
    
			<td>{{i.exam_mark}}</td>
			<td>{{i.test_mark}}</td>
			<td> {{i.percentage}} </td>
			<td>{{i.grade}} &nbsp;</td>
  		</tr>

 	</table>
 </div>
{% endfor %}

<!-- Remarks -->
{%for i in reports%}
<br>
<hr>
<br>
<p> Remark {{i.remark}} </p>
{%endfor%}
</div>
<hr>
{% endblock %}
